.bannerBackground{
    background-image: url("../../assets/Website-20230527T011956Z-001/Website/HomePage/Assets/banner.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 670px;

}
@media (max-width: 768px) {
    .bannerBackground {
        background-image: url("../../assets/Website-20230527T011956Z-001/Website/HomePage/Assets/banner.png");
        background-size: cover;
    
        height: 500px;
    }
    
  }

