.background{
    position: relative;
    bottom: 175px;
}

.kuddus{
    background-image: url("../../assets/Website-20230527T011956Z-001//Website/HomePage/Assets/upper.png");
    background-size: cover;
    background-position: center top;
    width: auto;
    height: min-content;
}

@media (max-width: 640px) {
    .background{
        position: relative;
        bottom: 170px;
    }
    
    .kuddus{
        background-image: url("../../assets/Website-20230527T011956Z-001//Website/HomePage/Assets/upper.png");
        background-size: cover;
        height: 1000px;
    
    }   
      }

@media (max-width: 768px) {
.background{
    position: relative;
    bottom: 1170px;
}

.kuddus{
    background-image: url("../../assets/Website-20230527T011956Z-001//Website/HomePage/Assets/upper.png");
    background-size: cover;
    background-position: center bottom;

}   
  }

  @media (max-width: 1024px) {
    .background{
        position: relative;
        bottom: 455px;
    }
    
    .kuddus{
        background-image: url("../../assets/Website-20230527T011956Z-001//Website/HomePage/Assets/upper.png");
        background-size: cover;
    height: 870px;
    }   
      }